
* {
  font-family: Helvetica, Arial, sans-serif;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  font-size: 1rem;
}

/* card grid*/
.card-grid{
  display: flex;
  flex-wrap: wrap;
}

/* card */
.card{
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 10px 10px 0 0;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 170px;
}